


.img1{
  object-fit: cover;
  width: 200px;
  display: block;
}

.imgbox{
  padding: 0;
  position: relative;
    width: 100%;
    margin: 30px auto 30px;
}

.imgdami{
  position: relative;
}

.imgdami::before{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  content: "";
  display: block;
  height: 100%;
  width: 200px;
  background:rgb(253, 231, 231,1);
  animation: skeleton-animation 0.7s ease-out 1 forwards;
}

@keyframes skeleton-animation {
  0% {
    visibility: visible;
    transform: translateX(0%);
  }
  100% {
    visibility: hidden;
    transform: translateX(100%);
  }
}

/* 画像の前の色面 */
