h2{
  color: #cc2323;
}

span{
  color: #cc2323;
}

input{
  width: 150px;
  height: 30px;
}

label{
  font-size: 15px;
  font-weight: 600;
}

nav{
  margin-bottom: 20px;
}

p{
  margin: 0;
}

.text_second{
  margin-top: 10px;
}

.email input{
  width: 300px;
}

.tel input{
  width: 180px;
}

.post_value input{
  width: 300px;
}

.consul input{
  width: 50px;
  height: 20px;
}

.area{
  width: 300px;
  height: 100px;
}

.reply input{
  width: 50px;
  height: 20px;
}

.privacy input{
  width: 50px;
  height: 20px;
}

.subm{
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgb(85, 85, 85);
  border-radius: 20px;
  border: solid 1px rgb(85, 85, 85) ;
}